.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 20px 10px 20px 10px;
}
.text{
  color:white;
  padding:0 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-style:italic;
}
.bttn{
  padding:10px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(47, 255, 0, 0.593);
  border:1px solid rgba(47, 255, 0, 0.1);
  font-weight: bold;
  background-color: black;
  color: rgb(153, 153, 153);
}
.bttn:hover{
  padding:12px;
  box-shadow: 1px 1px 25px rgba(47, 255, 0, 0.767);
  border:1px solid rgba(12, 12, 12, 0.100);
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
}