.container{
  margin:10px;
  padding:5px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(12, 12, 12, 0.308);
  border:1px solid rgba(12, 12, 12, 0.100);
  position:relative;
  text-align:justify;
  width: 200px;
}
.container:hover{
  box-shadow: 1px 1px 25px rgba(12, 12, 12, 0.692);
}
.imge{
  width:200px;
  border-radius: 10px 55px 10px 10px;
}
.imge:hover{
  width:200px;
  border-radius: 10px 55px 10px 10px;
  box-shadow: 1px 1px 15px rgba(12, 12, 12, 0.308);
  border:1px solid rgba(12, 12, 12, 0.100);
}

.bttn{
  margin:0;
  top:0;
  right:0;
  color:wheat;
  background-color:rgba(163, 3, 3, 0.74);
  padding:5px;
  position:absolute;
  border-radius: 10px 10px 10px 75px;
  box-shadow: 1px 1px 15px rgba(107, 1, 1, 0.308);
  border:1px solid rgba(107, 1, 1, 0.623);
  cursor:pointer;
}
.bttn:hover{
  margin:0;
  top:0;
  right:0;
  color:rgb(255, 255, 255);
  background-color:rgba(163, 3, 3, 0.884);
  padding:8px;
  position:absolute;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 5px rgba(107, 1, 1, 0.904);
  border:1px solid rgba(107, 1, 1, 0.623);
  cursor:pointer;
}